/*typography*/
body {
    font-size: 15px;
}

pre code {
    padding: 0.5em;
    display: block !important;
}

img {
    max-width: 100%
}

table {
    overflow: auto;
    border: none;
    display: block
}

table tr:first-child td:last-child {
    width: 100%
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*header*/
#header {
    padding: 1em 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.description {
    display: inline-block;
}

#nav-menu {
    margin: 0.5em 0 0;
}

@media (min-width: 992px) {
    #nav-menu {
        text-align: right;
    }
}

#nav-menu a {
    border: none;
    display: inline-block;
    float: none;
}

#masthead {
    background: #467b96;
    color: #fff;
}

.head-title {
    font-size: 1.6em;
    margin: 1em 0;
}

.breadcrumb {
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.breadcrumb, .breadcrumb > * {
    color: #ccc;
}

.breadcrumb > a:hover {
    color: #fff;
}

/*content*/
.row {
    display: flex;
    flex-wrap: wrap;
}

#body {
    padding: 0 1em;
}

h1.post-title {
    height: 0;
    overflow: hidden;
}

.post-content {
    margin: 2em 0;
    font-size: 1.0714285714285714em;
}

.tags {
    color: #999;
}

/*sidebar*/
#secondary {
    position: relative;
}

#search input {
    padding: 1em;
}

#search button {
    top: 0.9em;
}

/*catalog*/
.article-catalog {
    position: sticky;
    top: 1em;
}

.article-catalog .widget-list {
    max-height: 500px;
    overflow-y: auto;
}

.article-catalog .widget-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.75em;
}

.article-catalog .widget-list li.current {
    font-weight: bold;
}

/*footer*/
#footer {
    border-top: 1px solid #eee;
}

/*page-home*/
.home .widget-list {
    list-style: square;
    margin-left: 1em;
}

/*page-category*/
.category .widget-list li a {
    border: solid 1px #e6e7e8;
    padding: 0.1em 0.2em;
}
